body {
    font-family: "Montserrat", sans-serif;
    background-color: #f5f7fa;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* main content section */
.main-content-section {
    padding: 100px 90px;
}
.main-container-title {
    font-style: Bold;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-bottom: 10px;
}
/* about me section */
.about-me-section {
    margin: 0 0 40px 0;
}

.about-me-profession {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    margin: 0 0 20px 0;
}
.about-me-name {
    font-style: Bold;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin: 0 0 25px 0;
}
.about-me-discription {
    width: 400px;
    font-style: Regular;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* my prodjects section */

.my-prodjects-section {
    margin: 0 0 50px 0;
}
.my-projects-list {
    padding: 0 0 0 17px;
}
.my-projects-item {
    color: #000;
    font-weight: bold;
}
.my-projects-link {
    font-style: Regular;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.my-projects-text {
    font-style: Regular;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}
.my-projects-bracket {
    font-style: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
/* my work experiense */
.my-work-expirense-company {
    color: #fb6d3a;
}
.my-work-experiense-position {
    font-style: Bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}
.my-work-experiense-period {
    font-style: Regular;
    font-size: 12px;
    line-height: 15px;
    color: A8A8A8;
    margin: 0 0 10px 0;
}
.my-work-expiriens-divider {
    color: #000;
    font-weight: bold;
}
.my-work-experiense-duties {
    padding: 0 0 0 18px;
}
.my-work-experiense-duty {
    font-style: Regular;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.my-work-experiense-compani-block {
    margin: 0 15px 0 0;
}

/* Sidebar section */

.sidebar-section {
    background: #1e2939;
    width: 370px;
    padding: 40px 0;
}
.contacts-section {
    margin: 50px 0 0 40px;
    padding: 0 0 0 43px;
}
.tech-skill-section {
    margin: 50px 0 0 40px;
    padding: 0 0 0 43px;
}
.soft-skill-section {
    margin: 50px 0 0 40px;
    padding: 0 0 0 43px;
}
.sidebar-title {
    font-style: Bold;
    font-size: 22px;
    line-height: 27px;
    /* Line height: 100%; */
    color: #fff;
    margin-bottom: 10px;
    /* padding: 0 0 0 43px; */
}

/* contacts section */
.contacts-section-type {
    font-style: Bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 7px;
    /* padding: 0 0 0 43px; */
}

.contacts-section-link {
    color: #a6abb1;
    font-style: Regular;
    font-size: 14px;
    line-height: 24px;
}
/* tech skill section */
.tech-skill-list {
    padding-left: 20px;
}
/* soft skill section */
.soft-skill-list {
    padding-left: 20px;
}
.tech-skill-item {
    color: #fb6d3a;
}
.tech-skill-item-text {
    font-style: Regular;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}
